[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
crispy-bootstrap5 = "*"
pymongo = {extras = ["gssapi", "snappy", "srv", "tls"], version = "*"}
dnspython = "*"
redis-om = "*"
redis = {extras = ["hiredis"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
