{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Lists
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1 class="mt-5">Your To Do Lists</h1>
            <hr class="mt-0 mb-4">
            <form method="POST" class="form-group">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-primary">Create List --></button>
                    </div>
                    {{ form }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}