{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Tasks
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1 class="mt-5">Your To Do Lists</h1>
            <hr class="mt-0 mb-4">
            <ul class="list-group">
                {% for record in lists %}
                <a href="/{{record.pk}}" class="list-group-item list-group-item-action">
                    {{ record.list_name }}
                </a>
                {% empty %}
                <li class="list-group-item">You have no lists, start creating one.</li>
                {% endfor %}
            </ul>
            <form method="POST" class="form-group" action="/lists/">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="submit" class="btn btn-primary">Create List --></button>
                    </div>
                    {{ form }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}