{% extends "main/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <h1 class="mt-5">New User Registrations</h1>
            <hr class="mt-0 mb-4">
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
            <p class="text-center">Already have an account? <a href="/login">login</a> instead.</p>
        </div>
    </div>
</div>

{% endblock %}